<main>
  <div class="flex flex-wrap gap-2 justify-between mt-3">
    <h1>Quotes</h1>
    <%= link_to "New quote",
              new_quote_path,
              data: {turbo_frame: dom_id(Quote.new)},
              class: "btn btn-active btn-secondary" %>
  </div>
  <%= turbo_frame_tag Quote.new %>
  <%= turbo_frame_tag "quotes" do %>
     <%= render @quotes %>
  <% end %>
</main>